html, body {
    height: 100%;
    background-repeat: no-repeat;
    
    
}
/* body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); 
}

} */


#tasks-container{ 
  border: 1px solid #ccc!important;
  border-radius : 16px;
  box-sizing: inherit;
  height: 500px;
  width: 500px;
}


button{
  margin-top: 10px;
}


body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(http://bit.ly/2gPLxZ4);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
   font-weight: 400;
  -webkit-font-smoothing: antialiased;

}


/* .containerblur {

  margin: 100px auto;
  position: relative;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 1.5;
  border-radius: 10px;
  width: 60%;
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
  height: 300px;
  margin: auto;
  width: 30rem;
}

.containerblur:before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;

}*/
body,
.containerblur::before {
  background: url(http://bit.ly/2gPLxZ4) 0/cover fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.containerblur {
  margin: 100px auto;
  position: relative;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  
  line-height: 1.5;
  border-radius: 10px;
  min-height: 400px;;
  box-shadow: 5px 3px 30px black;
 
  
} 

.containerblur::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}


body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(https://unsplash.com/photos/OpiZAxueRUE);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
   font-weight: 400;
  -webkit-font-smoothing: antialiased;

}


/* .containerblur {

  margin: 100px auto;
  position: relative;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 1.5;
  border-radius: 10px;
  width: 60%;
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
  height: 300px;
  margin: auto;
  width: 30rem;

}

.containerblur:before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;

}*/
body,
.containerblur::before {
  background: url(https://unsplash.com/photos/OpiZAxueRUE) 0/cover fixed;
}
.containerblur {
  margin: 100px auto;
  position: relative;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  
  line-height: 1.5;
  border-radius: 10px;
  box-shadow: 5px 3px 30px black;
 
  
} 

.containerblur::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

#taskListTitle{
  color: rgb(55, 53, 47);
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    font-family: inter, Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: text;
    align-items: center;
}
#task{
  height: 75px;
  display: block;
  border-radius:5px ;
  background-color: rgba(255, 118, 0, 0.2);
  padding: 0;
}