<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/notion.css">
  <link rel="stylesheet" type="text/css" href="trello.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>


<body>

  <div class="cover-container d-flex w-100 h-75 p-3  flex-column">
    <header class="masthead " style="color: #fff;">
      <h1><i class="fas fa-paw"></i>Notion</h1>
    </header>
    <h2 class="cover-heading text-center" style="color: #fff;" id="taskListTitle">Task List</h2>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter"
            style="height: 40px; width :100px;">Add Task</button>

          <!--Deneme-->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Enter Task Info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/notion" method="POST">
                  <div class="form-group">
                    <div class="modal-body">
                      <div class="input-group">
                        <label for="name">Task: </label>
                        <input type="text" class="form-control" id="name" name="task[name]">
                      </div>
                      <div class="input-group">
                        <label for="deadline">DeadLine: </label>
                        <input type="date" id="deadline" name="task[date]">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="closebutton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="saveButton()">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <!-- Modal -->
          <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Enter Deadline</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Task Label</span>
                    </div>
                    <textarea id="tasklabel" class="form-control" aria-label="With textarea"></textarea>
                  </div>
                  <input type="date" id="deadline" name="deadline">
                </div>
                <div class="modal-footer">
                  <button id="closebutton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="saveButton()">Save</button>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div class="container containerblur " style="height: fit-content;">
      <div class="container">

        <div class="row mb-2">
          <div class="col-4 m-auto text-center">Todo</div>
          <div class="col-4 m-auto text-center">Doing</div>
          <div class="col-4 m-auto  text-center">Done</div>
        </div>
        <div class="row mb-2">
          <div class="col-4   task-group todo-column" ondrop="drop(event)" ondragover="allowDrop(event)">
            <ul>
              <% for (let task of tasks){ %>
                <li id="task_<%=task._id%>" >
                  <button type='button' class="btn w-100 task" draggable="true" ondragstart="drag(event)">
                    <div class="container">
                      <div class="row">
                        <div class="col-1 p-0">
                          <div style="border-radius:5px ; height: 75px; background-color: rgba(255, 118, 0); width: 5px;">
                          </div>
                        </div>
                        <div class="col-10 m-auto">
                          <a><%= task.name %></a>
                        </div>
                        <div class="col-1 p-0 m-auto">
                          <div  class="delete_task_button" >
                            <form action="/notion/<%=task.id%>?_method=DELETE" method="POST" id="delete">
                              <button> X </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </button>
                </li>
              <% } %> 
            </ul>
            <!-- <button id="task" type='button' class="btn w-100" draggable="true" ondragstart="drag(event)">
              <div class="container">
                <div class="row">
                  <div class="col-1 p-0">
                    <div style="border-radius:5px ; height: 75px; background-color: rgba(255, 118, 0); width: 5px;">
                    </div>
                  </div>
                  <div class="col-10 m-auto">
                    hebele
                  </div>
                  <div class="col-1 p-0 m-auto">
                    <div class="delete_task_button" onclick="remove_me(this)">X</div>
                  </div>
                </div>
              </div>
            </button> -->
          </div>
          <div class="col-4   task-group doing-column" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="col-4   task-group done-column" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </div>
      </div>



      <!-- Option 2: jQuery, Popper.js, and Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
      <script type="text/javascript" src="notion.js"></script>



    </div>
</body>

</html>